.activities-index-container {}

.activities-index-container .activities-alert {
  height: 27px;
  font-size: 18px;
  color: black;
  padding: 2px 0 5px 25px;
  background: white;

}

.activities-index-container .activities-list-container .activity-container {
  padding: 15px 25px 15px 25px;
  margin-bottom: 2px;
  background: linear-gradient(to bottom, rgba(50, 50, 50, .8), rgba(40, 40, 40, .5));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(50, 50, 50, .8)), color-stop(100%, rgba(40, 40, 40, .5)));
}

.activities-index-container .activities-list-container .activity-container {
  font-size: 17px;
}

.activities-index-container .activities-list-container .activity-container .activity-description {
  word-wrap: break-word;
}

.email-activities .modal-dialog {
  width: 600px;
}
