<div style="position:absolute; width:100%; height:100%; overflow: hidden;">
<div class="search-bar hide">
	<div style="width:100%; height:100%; background:white; padding: auto; color:black; display:table; padding-left:5px;"><h4 style="height:100%; display:table-cell; vertical-align:middle;">search for: {{searchText}}</h4></div>
	<button  style="position:absolute; top:5px; right:5px; padding:0; margin:0; height:24px; width:24px;" class="close-dialog-button" ng-click="clearSearch()"></button>
</div>

<div class="articles-index" ng-class="{ 'admin-view': isAdmin}" ng-cloak ng-init="listArticles()">


<div class="add-article-container" ng-click="showAddArticleDialog()" ng-if="isAdmin">
	<div class="add-article-label-container">
		<div class="centering-helper in-div"><div class="centering-cell" style="text-align:center;"><h1>Add New {{articleType}}</h1></div></div>
	</div>
	<div class="add-article-button">
		<div class="plus-icon" >
		</div>
	</div>
</div>
<div class="articles-view" >
		<div class="article-container" ng-class="{'last':$last}" ng-repeat="article in articles  | filter: {description: searchText}" repeat-done="fixAddButtonAlignment()" on-touch-begin="articleMouseDown(article, $index, $event)" on-touch-end="articleMouseUp(article)" on-touch-move="articleMouseMove()">
			<div class="background"></div>
			<div class="article-detail">
				<div class="centering-helper in-div"><div class="centering-cell">
					<div class="article-detail-description">
						<!-- <h3>{{article.title}}</h3><br> -->
						<h3>{{article.description}}</h3>
						<h4 ng-show="showDate">{{article.formattedPublishedDate}}</h4>
					</div>
				</div>
				</div>
			</div>
			<div class="article-thumbnail icon asset">
				<img no-image ng-src="{{article.thumbnailSource}} " onmousedown="return false;">
			</div>
		</div>
	</div>


</div>
</div>

<!--dialogs are here-->
	<div ng-include src=" 'views/modal/articles_modal.html' "></div>