<div class="login-container" ng-hide="showMenu">

	<div class="home-logo">
	</div>

	<div class="centering-helper"><div class="centering-cell" style="text-align:left;">
	<div class="login-form-container absolute-horizontal-center">
		<form name="formLogin" ng-submit="login()" novalidate>
			<div class="dialog-form">
				<h3 class="header">User Login</h3>
				<div class="form-group">
				<!-- <div class="form-group" ng-class="{'has-error': formLogin.email.$invalid &amp;&amp; formLogin.email.$dirty}"> -->
					<input type="email" name="email" class="form-control" placeholder="username (@searasports.com)" ng-model="email" required ng-pattern="/^[^@]+@[^@\.]+\.[^@\.]+$/"/>			
					<!-- <p style="position:absolute;" ng-show="formLogin.email.$invalid">
						{{
							formLogin.email.$error.email? 'You enter an invalid username' : ''
						}}
					</p> -->
				</div>

				<div class="form-group">
				<!-- <div class="form-group" ng-class="{'has-error': formLogin.password.$invalid &amp;&amp; formLogin.password.$dirty}"> -->
					<input type="password" name="password" class="form-control" placeholder="password" ng-model="password" maxlength="20" required/>	
					<!-- <p style="position:absolute;" ng-show="formLogin.password.$invalid">
						{{
							formLogin.password.$invalid? 'You enter an invalid password' : ''
						}}
					</p> -->
				</div>

				<button class="btn btn-default footer single" ng-disabled="formLogin.$invalid"><h3>Login</h3></button>

			</div>
		</form>

		<div class="link-under-login">
			<a class="forgot-password"  style="margin-top:50%;" href="" ng-click="showForgotPasswordDialog()">Forgot Password?</a>
			<a class="register" href="#/register">Register</a>
		</div>
	</div>
</div>
</div>

</div>

<div class="forgot-password">
	<div class="modal fade" id="forgotPasswordModal" backdrop="false" >
		<div class="centering-helper"><div class="centering-cell">
		<div class="modal-dialog">
			<div class="modal-content">
				<form name="formForgotPassword">
				<div class="dialog-form">
					<h3 class="header">Reset Password</h3>
					<h4 class="header">Send reset link via e-mail</h4>
					<div class="form-group">
						<input type="text" class="form-control" ng-model="userEmail" placeholder="enter your username (e-mail address)">
					</div>
					<button class="btn btn-default footer single" ng-click="sendResetEmail()"><h3>Send</h3></button>
					<button class="close-dialog-button" data-dismiss="modal"></button>
				</div>
			</form>
			</div>
		</div>
		</div>
		</div>
	</div>
</div>